<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <style>
        ul
        {
            list-style-type:none;
            margin:0;
            padding:0;
        }
        li
        {
            display:inline;
        }
    </style>
</head>

<body>
<ul>
    <li> <a href="/UserController/toRegister">--Log In!--</a></li>
    <li>&nbsp &nbsp<li>
    <li> <a href="/UserController/toRegister">--Register--</a></li>

</ul>
<li>&nbsp &nbsp<li>
<li>&nbsp &nbsp<li>
<li>&nbsp &nbsp<li>
<li>&nbsp &nbsp<li>
<li>
    <h1  align="center">Circle</h1>
</li>
<li>
    <img th:src="@{/rresources/images/HomePage.jpg}" /></li>
        <img src="/resources/images/HomePage.jpg"  alt="上海鲜花港 - 郁金香" />
</body>
</html>